.navbar{
    color: white;
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
}

.left-panel{
    background-color: whitesmoke;
}

.search-bar{
    margin-left: 20px;
}

.history-top{
    margin-top: 20px;

}

.history{
    margin-left: 3px;
    margin-right: 5px;
}

.picked-location{
    border: solid 1px grey;
    margin: 10px;
    padding: 20px;
}

#location-name{
    font-size: 20px;
    font-weight: bold;
}

#uv{
    background-color:tomato;
    padding: 5px;
    border-radius: 3px;
}

.forecast{
    background-color: lightskyblue;
    color: white;
    padding: 5px;
    margin: 3px;
}

.date{
    font-size: 15px;
    font-weight: bold;
}

.main-location{
    font-size: 20px;
    font-weight: bold;
}

.hide{
    display: none;
}

.hidden{
    display: none;
}