.navbar{
    color: white;
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
}

.left-panel{
    background-color: whitesmoke;
}

.search-bar{
    margin-left: 20px;
}

.history-top{
    margin-top: 20px;

}

.history{
    margin-left: 3px;
    margin-right: 5px;
}

.picked-location{
    border: solid 1px grey;
    margin: 10px;
    padding: 20px;
}